.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.main-background {
    -fx-background-color: linear-gradient(#0D0060, #47003C);
}

.button-bar-group {
    -fx-background-color: #ffffff73;
    -fx-padding: 8;
    -fx-spacing: 5;
    -fx-background-radius: 12;
}

.button-bar-title {
    -fx-font-family: Arial;
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-fill: white;
}

.button {
    -fx-pref-height: 50;
    -fx-pref-width: 130;
}
